* {
    border: none;
    border-radius: 0;
    font-family: "JetBrainsMono Nerd Font", Helvetica, Arial, sans-serif;
    font-size: 14px;
    min-height: 0;
}

window#waybar {
    background: rgba(21, 22, 30, 0.8);
    color: #c0caf5;
}

/* Estilo para cada módulo */
#workspaces, #clock, #pulseaudio, #network, #cpu, #memory, #battery, #tray, #window {
    background: #1a1b26;
    padding: 0px 15px;
    margin: 4px 3px;
    /*border-radius: 10px;
    border-bottom: 2px solid rgba(122, 162, 247, 0.5);*/
}

#workspaces button {
    padding: 0 5px;
    color: #565f89;
}

#workspaces button.focused {
    color: #7aa2f7;
    background: rgba(122, 162, 247, 0.1);
}

#workspaces button.urgent {
    color: #f7768e;
}

#clock { color: #bb9af7; }
#pulseaudio { color: #7aa2f7; }
#network { color: #b4f9f8; }
#cpu { color: #9ece6a; }
#memory { color: #e0af68; }
